.tieude1
{
	display: block;
	margin: auto;
	text-align: center;
	color: red;
}
.lienhe
{
	margin-left:250px;

	
}
.tieude2
{
	text-align: center;
	color: red;
}
.tuyendung
{
	margin-left:170px;
}
